* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    /*schimba sur deschis*/
    display: inline-block;
    z-index: 10;
    text-align: center;
    cursor: pointer;
    color: black;
}

.disabled{
    opacity: 0.5;
}


main, header {
    margin: 5vh 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reclama{
    height: 50px;

    background: red;

    background:  #ffbb33;

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.reclama_content{
    margin-left: 10rem;
}

/*img{
    width: 30px;
    height: 30px;
}*/
.btn_reclama_all{
    margin-bottom: 20px;
    margin-right:  5px;
}
.btn_reclama{
    background: #ffbb33;
    height: 25px;
    min-width: 25px;

}
.btn_reclama img{
    height: 25px;
    width: 25px;

}

footer{
  /*  color:#e6e6e6;*/


    padding: 22px;
    background:#666666;
    

    justify-content: center;
    font-size: 13px;

}
.footer_text{
    color:#e6e6e6;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    gap:80px;

    
}

.hide{
    display: none;
}


#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product {
    background-color:#ebeff1;
    padding: 1rem;
    border-radius: 1rem;
    /*color: #ffffff;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px #000;

}
.product p{
    color: black;
}

.product-photo {
    max-width: 130px;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    /*background-color: #ffffff;*/
    margin-left: 110px;

}

.product a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 5px 0;
}

button {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    min-width: 50%;
    margin-top: 5px;

    background: #80929c;
}

/* -----Cart----- */

#cart-button {
    background: none;
    border: none;
    /*border-radius: 50%;*/
    padding: 10px;
    /*border: 1px solid #000000;*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#cart {
    position: relative;
    transition: 5s;
    

}

#cart-button img {
    max-width: 42px;
    max-height: 42px;
}

#cart-button img:hover {
   /* background-color: rgb(170, 170, 255);
    transition: 0.5s;*/

}

#cart-button.active {
    background-color: rgb(170, 255, 170);

}

#cart-products::before {
    content: '';
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 16.3rem;
    z-index: -1;
    /*max-height: 200px;*/

}


#cart-products {
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    top: 90px;
    right: 0rem;
    left: -16rem;
    position: absolute;
    padding: 10px;
    text-align: left;
    /*max-height: 200px;*/
}


#cart-products p {
    line-height: 2rem;
    color:black;
}

#cart-products p img {
    max-height: 2rem;
    max-width: 2rem;
}

#cart-products button {
    border: 1px solid #000;
    margin: 0.5rem 0;



}

/* -----Profile Page----- */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#profile {
    background-color: tomato;
    padding: 1rem 3rem;
    flex-basis: 20rem;
    text-align: center;
    border-radius: 1rem;
}

.profile-img {
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 #000;
    width: 10rem;
    margin: 2rem 0;
    background-color: #ffffff;
}

.products-link {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    transition: all .5s;
}

.products-link:hover {
    transform: scale(1.2);
}

.user-products {
    position: relative;
}

.user-products h1 {
    position: absolute;
    left: 2rem;
    top: -1.2rem;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
}

#user-products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: tomato;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}

/*menu*/




body {
    font-family: system-ui, sans-serif;
    /*background: whitesmoke;*/
    min-height: 100vh;
    background:  #e6e6e6;

}

nav {
    /*position: relative;*/
    white-space: nowrap;
    background: #d1d1e0;
    /*margin: 2em 0;*/
    box-shadow: 0 1em 2em rgba(black, .05);
    height: 60px;
    border-bottom: 1px solid black;

    width: 100%;

}




nav a {
    display: inline-block;
    z-index: 10;
    width: 20%;
    height: 100%;
    /*padding: 1em 0;*/
    text-align: center;
    cursor: pointer;
    color: black;
    padding-top: 1rem;
}
nav a:hover{
    background: rgba(0,0,0,0.2);
    
    transition: 0.2s;
}

#cat_shop:hover{
    background: #ffd480 ;

}
nav.black {
    .underline {
        background: #222;
        border-radius: .25em;
        height: calc(var(--underline-height) / 2);
        mix-blend-mode: initial;
    }
}

nav.full {
    font-weight: bold;
    background: #111;
    color: white;
    
    .underline {
        height: 100%;
        background: gold;
    }
}



/*notification buy*/
#notif {
    display: none;
}
.notification-buyProd {
  /*background-color: #555;
  color: white;*/
  text-decoration: none;
  padding-left:60px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}


.notification-buyProd .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

/*promotie*/


/*premium*/
.premium{
    /*padding: 20px;*/
/*    margin-left: -5%;
    margin-right: 20%;*/

    background: #ffb31a;

    /*box-shadow: 1px 1px 1px 0 #000;*/

    border: 2px solid black ;
    border-color: #805500;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 10rem;
    max-width: 620px;
    min-width: 480px;
}
.premium div{
    padding-right: 10px;

    height: 100%;
    padding-top: 1rem;
}
#pAndImg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pAndImg p{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 5px;

}
#pAndImg img{
    padding-bottom: 20px;

}
.products-premium{
   

}

/*products-row*/


.denumirile_shop{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 2rem;

    width: 60%;
margin-left: 20%;
margin-right: 20%;
    /*background: red;*/

    border-bottom: 2px solid #4d4d4d;
}
.denumirile_shop:hover{
    background: rgba(0,0,0,0.2);
    transition: 0.3s;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.products-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    /*width: 800px ;*/
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  border-bottom: 2px solid #4d4d4d;
}
.product-row{
  margin: 5px;

  background:  #d9d9d9 ;

  border-top: 2px solid black;
  border-color: #4d4d4d;

}
.products-row::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}
.products-row::-webkit-scrollbar-thumb {
  background-color: black;
}

.scroll-images{
   /* padding-left: 5%;
    padding-right:  5%;*/

}

.cover {
  /*padding: 0px 30px;*/
  position: relative;

}
.btnScroll{
    min-width: 50px;
    margin:  20px;
    min-height: 50px;

    background: white;
    border: 2px solid black;


    border-radius: 0px;


}
.left {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.products-row::-webkit-scrollbar {
   -webkit-appearance: none;
}
/* -----Responsive----- */



@media screen and (max-width: 1000px){
    #products-grid, #user-products-grid {
        grid-template-columns: repeat(2, 1fr);
    }


        
        

}

@media screen and (max-width: 600px){
    #products-grid, #user-products-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #bare p{
    display: none;
}
}






/*notificare*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
 
}

button {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.btn-primary {
 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;

  
}
.back_inactive{
    opacity: 0.2;
    transition: 0.5s;
    cursor: not-allowed;
}

.notification {
opacity: 1;

  position: fixed;
  right:20%;
  top: 140px;
  display: none;
  justify-content: space-between;
  align-items: center;

    background: red;
    height: 50px;
    min-width: 500px;


}
.p_notification_edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.p_notification{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 200px;
    background: rgba(0,0,0,0.2);

    border-radius: 7px;
}
.notification_close{
    height: 20px;
    width: 20px;
    border-radius: 0px;

    /*background: #e00000;*/
    background: #ffdd99;


}
.notification_close img{
   width: 20px;
   height: 20px;

    border-radius: 0px;
    height: 100%;

}
.btn_reclama_close{
/*height: 30px;
width: 30px;*/
height: 100%;
padding-right: 6px;
padding-top: 4px;


/*background: orange;*/
}

.exlamare_img{
    height: 50px;
    width: 50px;
 /*   margin-left:-15%;
    margin-right: 15%;*/
}

.notification-show{
  animation: warning 400ms ease-in-out forwards;
    display: flex;
}
.anunt{
    border-radius: 10px;

    background: #ffdd99;
    height: 15%;

}
.politica_site{
    font-size: 15px;
    color: rgba(0,0,0,0.6);
}

@keyframes warning {
  0% {
    opacity: 0;
    top: 10%;
    left: 20%;



  }
  5% {
    opacity: 0.4;
   /* left: 50%;
    right: 50%;
*/  }
 
  100% {
    opacity: 1;
    top: 20%;
    left: 20%;

  }
}

