* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #999999;
    /*schimba sur deschis*/
    display: inline-block;
    z-index: 10;
    width: 20%;
    text-align: center;
    cursor: pointer;
}


main, header {
    margin: 5vh 10vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer{
    padding: 22px;
    background:#666666;
    

    justify-content: center;
    font-size: 13px;

}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 20px;
    gap:80px;

    
}

.hide{
    display: none;
}


#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.product {
    background-color:#ebeff1;
    padding: 1rem;
    border-radius: 1rem;
    /*color: #ffffff;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 5px #000;

}

.product-photo {
    max-width: 130px;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    /*background-color: #ffffff;*/
    margin-left: 110px;

}

.product a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 5px 0;
}

button {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    min-width: 50%;
    margin-top: 5px;

    background: #80929c;
}

/* -----Cart----- */

#cart-button {
    background: none;
    border: none;
    /*border-radius: 50%;*/
    padding: 10px;
    /*border: 1px solid #000000;*/
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#cart {
    position: relative;
    transition: 5s;
    

}

#cart-button img {
    max-width: 42px;
    max-height: 42px;
}

#cart-button img:hover {
   /* background-color: rgb(170, 170, 255);
    transition: 0.5s;*/

}

#cart-button.active {
    background-color: rgb(170, 255, 170);

}

#cart-products::before {
    content: '';
    border: transparent solid 16px;
    border-bottom: solid #000 16px;
    position: relative;
    top: -2.7rem;
    left: 16.3rem;
    z-index: -1;
}

#cart-products {
    border: 1px solid #000;
    border-radius: 0.5rem;
    background-color: #fff;
    top: 90px;
    right: 0rem;
    left: -16rem;
    position: absolute;
    padding: 10px;
    text-align: left;
}


#cart-products p {
    line-height: 2rem;
}

#cart-products p img {
    max-height: 2rem;
    max-width: 2rem;
}

#cart-products button {
    border: 1px solid #000;
    margin: 0.5rem 0;



}

/* -----Profile Page----- */

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#profile {
    background-color: tomato;
    padding: 1rem 3rem;
    flex-basis: 20rem;
    text-align: center;
    border-radius: 1rem;
}

.profile-img {
    border-radius: 50%;
    box-shadow: 1px 1px 5px 0 #000;
    width: 10rem;
    margin: 2rem 0;
    background-color: #ffffff;
}

.products-link {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    transition: all .5s;
}

.products-link:hover {
    transform: scale(1.2);
}

.user-products {
    position: relative;
}

.user-products h1 {
    position: absolute;
    left: 2rem;
    top: -1.2rem;
    color: #ffffff;
    text-shadow: 0 0 10px #000000;
}

#user-products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: tomato;
    padding: 2rem;
    gap: 1rem;
    border-radius: 1rem;
}

/*menu*/


:root {
    --underline-height: .5em;
    --transition-duration : .5s;
}

body {
    font-family: system-ui, sans-serif;
    /*background: whitesmoke;*/
    min-height: 100vh;
    background:  #e6e6e6;

}

nav {
    position: relative;
    white-space: nowrap;
    background: #cccccc;
    padding: var(--underline-height) 0;
    /*margin: 2em 0;*/
    box-shadow: 0 1em 2em rgba(black, .05);
    padding: 1rem;

}

.underline {
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    height: var(--underline-height);
    width: 20%;
    background: black;
    pointer-events: none;
    mix-blend-mode: multiply;
    transition: transform var(--transition-duration) ease-in-out;
    
    &:nth-child(1) {
        background: yellow;
        transition: calc(var(--transition-duration) * .8);
    }
    &:nth-child(2) {
        background: cyan;
        transition: calc(var(--transition-duration) * 1.2);
    }
    &:nth-child(3) {
        background: magenta;
    }
}

nav a {
    display: inline-block;
    z-index: 10;
    width: 20%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
    color: black;
}

nav.black {
    .underline {
        background: #222;
        border-radius: .25em;
        height: calc(var(--underline-height) / 2);
        mix-blend-mode: initial;
    }
}

nav.full {
    font-weight: bold;
    background: #111;
    color: white;
    
    .underline {
        height: 100%;
        background: gold;
    }
}

nav.retro {
    .underline {    
        border-radius: 100% 100% 0 0;
        
        &:nth-child(1) { background: gold; }
        &:nth-child(2) { background: dodgerblue; }
        &:nth-child(3) { background: tomato; }
    }
}

/*notification*/
#notif {
    display: none;
}
.notification {
  /*background-color: #555;
  color: white;*/
  text-decoration: none;
  padding-left:60px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}


.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}


/* -----Responsive----- */



@media screen and (max-width: 1000px){
    #products-grid, #user-products-grid {
        grid-template-columns: repeat(2, 1fr);
    }


        
        

}

@media screen and (max-width: 600px){
    #products-grid, #user-products-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #bare p{
    display: none;
}
}

